
  <div class="card mt-3">
    <img
      src="{{ item.image }}"
      class="card-img-top"
      alt="{{ item.name }}"
    />
    <div class="card-header">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">{{ item.planet }}</p>
    </div>

    <div class="card-body">
      <p class="card-text">{{ item.description }}</p>
      <!--<app-input-button [btnText]="btnText"></app-input-button> Aqui pondriamos la variable btnText que es la declarada en app.component.html -->
    </div>
  </div>

