<div class="card-container">
  <div class="card-img">
    <img src="{{specie.image}}" alt="" />
  </div>
  <div class="card-text">
    <div class="card-header">
      <h2>{{ specie.name }}</h2>
      <h3>{{ specie.planet }}</h3>
      <h3>{{ specie.language }}</h3>
      <h3>{{ specie.characters }}</h3>
      <!--<app-input-button [btnText]="btnText"></app-input-button> Aqui pondriamos la variable btnText que es la declarada en app.component.html -->
    </div>
    <div class="card-footer">
      <p>{{ specie.description }}</p>
      <!--<app-input-button [btnText]="btnText"></app-input-button> Aqui pondriamos la variable btnText que es la declarada en app.component.html -->
    </div>
  </div>
</div>
